.wrap {
  width: 1150px;
}

/* explain */
.explain {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

.explain p {
  font-size: 36px;
  margin-bottom: 30px;
}

.explain p .st::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #ffdf50;
  opacity: 60%;
  z-index: -1;
}
.explain p .st {
  position: relative;
}

.ex_login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.ex_login .login {
  display: table;
  width: 240px;
  height: 70px;
  border-radius: 10px;
}
.ex_login .login span {
  display: table-cell;
  vertical-align: middle;
  font-weight: var(--font-bold);
}
.ex_login .login.no {
  outline: 2px solid var(--color-stroke);
}
.ex_login .login.yes {
  outline: 2px solid #e1d395;
  background-color: #ffdf50;
}

/* slide */
.slide {
  width: 100%;
  height: 415px;
  margin-bottom: 70px;
}
.slide_num {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
}
.slide_num > span {
  line-height: 40px;
}
.slide_num div {
  display: table;
  margin-left: 10px;
  padding: 3px 12px 0px 4px;
  background-color: #f4f4f4;
  border-radius: 20px;
  border: 1px solid var(--color-font-gray);
}
.slide_num div .before {
  position: relative;
}
.slide_num div .before::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  width: 2px;
  height: 20px;
  background-color: var(--color-font-gray);
}
.slide div span {
  display: table-cell;
  vertical-align: middle;
}
.slide_num .present {
  padding-right: 5px;
  color: var(--color-blue-point);
}
.slide_num .all {
  padding-left: 5px;
  padding-right: 5px;
}
.slide_num img {
  width: 27px;
  height: 27px;
}
.slide_num .pause-start img {
  width: 20px;
  height: 20px;
}

/* slide item */
.slide {
  position: relative;
}
.slider {
  width: 1150px;
  height: 330px;
  margin: 10px 0;
  display: inline-flex;
  gap: 35px;
  /* overflow: hidden; */
}

.slider_items.slick-slide {
  width: 360px;
  height: 330px;
  border-radius: 15px;
  padding: 20px;
  margin-right: 24px;
  position: relative;
}
.slider_items.slick-slide:last-child {
  margin-right: 0px;
}

.slider_items .p1 {
  color: var(--color-blue-point);
  border: 1px solid var(--color-blue-point);
  border-radius: 5px;
  font-size: 14px;
  font-weight: var(--font-bold);
  width: 65px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 20px;
}

.slider_items h3 {
  font-size: 22px;
  font-weight: var(--font-bold);
  margin-bottom: 20px;
}

.slider_items .p2 {
  width: 300px;
  margin-right: 20px;
}

.slider_images {
  width: 360px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
}
.slider_images div {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider_images div img {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 15px 0;
}
/* 슬라이드아이템 배경색 */
.slider_items.i1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  border-radius: 15px;
  z-index: -1;
  background-color: #09a788;
}
.slider_items.i2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  border-radius: 15px;
  z-index: -1;
  background-color: #d9eef2;
}
.slider_items.i3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 30%;
  border-radius: 15px;
  z-index: -1;
  background-color: #dfefe3;
}

.slide .more {
  text-align: right;
  font-weight: var(--font-bold);
}

/* 간편찾기 */
.find {
  width: 100%;
  height: 115px;
  margin-bottom: 53px;
}
.find .title {
  justify-content: left;
  gap: 10px;
  margin-bottom: 20px;
}
.find .title h3 {
  font-size: 24px;
  font-weight: var(--font-bold);
}

.find .title p {
  font-weight: var(--font-medium);
  color: var(--color-font-moregray);
}

.find_btn a {
  display: inline-block;
  width: 355px;
  height: 60px;
  padding: 15px 30px;
  border-radius: 10px;
  outline: 1px solid var(--color-font-gray);
  margin-right: 35px;
  font-size: 20px;
  font-weight: var(--font-medium);
}
.find_btn a:last-child {
  margin-right: 0;
}

/* 영상, 이모저모 쪽 */
.subsidy_main {
  width: 100%;
  height: 717px;
  position: relative;
  padding-top: 70px;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-color: #f1f1f1;
  z-index: -1;
}

.sub_content {
  width: 100%;
  height: 395px;
  display: flex;
  gap: 20px;
  margin-bottom: 45px;
}
.sub_content div {
  flex: 1;
}
/* 영상으로보는 */
.movie .title {
  margin-bottom: 20px;
}
.movie .slide_num {
  display: table;
  font-size: 16px;
  margin-left: 200px;
}
.movie .slide_num span {
  display: table-cell;
  vertical-align: middle;
}
.movie .slide_num span img {
  display: block;
}

/* 비디오 */
.video_section {
  width: 565px;
  height: 340px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow: hidden;
}

.video img {
  display: block;
  border-radius: 20px 20px 0 0;
  width: 565px;
  height: 243px;
}
.video_items h4 {
  font-size: 18px;
  font-weight: var(--font-bold);
  margin: 20px 0 5px 30px;
}
.video_items p {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 30px;
  width: 505px;
}

/* 보조금24 이모저모 */
.etc .title {
  margin-bottom: 20px;
}
.etc .slide_num {
  display: table;
  font-size: 16px;
  margin-left: 304px;
}
.etc .slide_num span {
  display: table-cell;
  vertical-align: middle;
}
.etc .slide_num span img {
  display: block;
}

.etc_content1 {
  width: 565px;
  height: 180px;
  background-color: white;
  border-radius: 20px;
}
.etc_items {
  display: block;
  width: 565px;
  height: 180px;
  padding: 40px;
}
.etc_items p {
  font-weight: var(--font-medium);
  font-size: 20px;
  margin-bottom: 20px;
}
.etc_items.i1 {
  background-image: url(../images/images03/img01.png);
  background-position: 92%;
  background-repeat: no-repeat;
  background-size: auto;
}
.etc_items.i2 {
  background-image: url(../images/images03/img02.png);
  background-position: 92%;
  background-repeat: no-repeat;
  background-size: auto;
}
.etc_items.i3 {
  background-image: url(../images/images03/img03.png);
  background-position: 92%;
  background-repeat: no-repeat;
  background-size: auto;
}

.etc_content2 {
  width: 565px;
  height: 140px;
  margin-top: 20px;
  padding: 20px 20px 22px 154px;
  background-color: #d9e3f2;
  border-radius: 20px;
  background-image: url(../images/images03/icons/alarm.png);
  background-position: 2%;
  background-repeat: no-repeat;
  background-size: 25%;
}
.etc_content2 p {
  font-weight: var(--font-medium);
  font-size: 18px;
  margin-bottom: 20px;
}

/* link */
.link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.link a {
  display: block;
  width: 257px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: #faf5e0;
  border-radius: 10px;
}

.link a img {
  display: inline-block;
  vertical-align: middle;
}
